.header {
    background-color: #222324;
    width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.header-inner > div {
    display: flex;
    align-items: center;
}

.header-inner img{
    width: 40px;
    height: 40px;
}

.header-search img{
    width: 20px;
    height: 20px;
}

.header a {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

.header-search {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
}

.header-button {
    border-radius: 25px;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.header-button--green {
    border: 1px solid rgba(163, 218, 165, .5);
    color: #A3DAA5;
}